<?php
/**
 * Kowal
 * Copyright (C) 2019 Kowal <kontakt@kowal.co>
 *
 * @category Kowal
 * @package Kowal_Facebook
 * @copyright Copyright (c) 2019 Mage Delight (https://kowal.store/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Kowal <kontakt@kowal.co>
 */
?>
<?php $storeId = $block->getStoreParam();
if (!$storeId):
    $storeId = $block->getDefaultStoreId();
     endif; ?>
<div class="page-main-actions">
    <?php  echo $this->getChildHtml('store_switcher') ?>
    <div class="page-actions-placeholder" style=""></div>
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner">
            <div class="page-actions-buttons">
                <div title="Assign" class="actions-split save primary">
                    <?php  echo $block->getFeedAssignButtonHtml(); ?>
                </div>
                <div title="Unassign" class="actions-split unassign primary">
                    <?php  echo $block->getFeedUnAssignButtonHtml(); ?>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-layout-admin-2columns-left">
    <div class="page-columns">
        <div id="container" class="main-col">
                <?php echo $this->getChildHtml('facebook.categories') ?>
        </div>
        <div  id="page:left" class="side-col">
            <?php echo $this->getChildHtml('categoryfeed-sidebar') ?> 
        </div>
    </div>               
             
</div>
 <script type="text/javascript">
function catFeedRequest(assign){
    var valueObj = {};
    if(jQuery('#product_categories').val() != ''){
        var storeId = '<?php echo $storeId ?>';
        if(jQuery('#store_switcher') != undefined){
            storeId = (jQuery('#store_switcher').val() == '') ? <?php echo $storeId ?>: jQuery('#store_switcher').val();
        }
        var urlString = "store/"+storeId+'/assign/'+assign;
        var url = '<?php echo $block->getUrl('kowal_facebook/assignfeed/catfeedrequest'); ?>'+urlString+'/category/'+jQuery('#product_categories').val();
        window.location.replace(url);
        
    }
    else{
        alert("Please Select Categories for Assign or Unassign.");
        return false;
    }
}
</script>
<style type="text/css">
    .page-actions .actions-split .action-default{
        margin-right: 0px;
    }   
</style>