<?php
/**
 * Kowal
 * Copyright (C) 2019 Kowal <kontakt@kowal.co>
 *
 * @category Kowal
 * @package Kowal_Facebook
 * @copyright Copyright (c) 2019 Mage Delight (https://kowal.store/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Kowal <kontakt@kowal.co>
 */
?>
<div class="admin__page-nav">
    <div class="admin__page-nav-title">
        <strong tabindex="1"><?php echo __("Category Selection"); ?></strong>
    </div>
    <ul class="admin__page-nav-items items">
        <li class="admin__page-nav-item _active" tabindex="2">
            <a class="admin__page-nav-link" href="#" id="tab_customer_edit_tab_view_content">
                <span><?php echo __("Category Selection Facebook Feed"); ?></span>
            </a>
        </li>
    </ul>
</div>